h1 {
   color: blue;
   font-family: verdana;
   font-size: 300%
}
* {
  box-sizing: border-box;
}
body{
    background-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: green;
    border: 1px solid palevioletred;
    border: 2px solid; 
    margin: 50px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  background: #ccc;
  padding: 20px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}


